/* Global Variables */
* {
  margin: 0;
  padding: 0;
}

/* Classes */
:root {
  /* Colors */
  --main-color: #ED3A72;
  --main-color-highlight: #EB506C;
  --secondary-color: #FEF587; 
  --secondary-color-highlight: #FFE403; 

  /* Header Font */
  --header-font: "acier-bat-gris", sans-serif;

  /* Text Font */
  --text-font: "modern-love-caps", serif;
}

p {
  color: var(--main-color);
  font-family: var(--text-font);
  font-weight: 400;
}

h1 {
  color: var(--main-color);
  font-family: var(--header-font);
  font-weight: 400;
}