/* Globals */
* {
  margin: 0;
  padding: 0;
  font-size: 10px
}

h1 {
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--header-size);
}

h3 {
  color: #000;
  font-family: var(--header-font);
  font-weight: 400;
  font-size: 4.5rem;
  margin: 10rem 0 4rem 0;
  transform: translateY(-1rem);
}

p {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

a {
  text-decoration: none;
  behavior: smooth;
  scroll-behavior: smooth;
}

ul, li {
  list-style: none;
}

button {
  font-family: var(--header-font);
  font-size: var(--button-text);
  padding: 1.6rem 1rem;
  background: none;
  border: none;
}

/* move to global variables for the buttons */
.golden-right {
  background: url('./assets/button-background.svg');
  border: 1px solid var(--secondary-color);
  color: transparent;
  font-weight: 500;
  float: right;
  transform: translateY(42rem) translateX(-34rem);
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: transform .5s ease;
}

.golden-right::before {
  content: "";
  display: block;
  position: absolute;
  width: 24.5rem;
  height: 7.8rem;
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-3.5rem) translateX(-3rem);
  z-index: -10;
  overflow: hidden; 
  transition: transform .5s ease;
}

.golden-right::after {
  content: "Lets Work!";
  color: var(--main-color);
  text-align: center;
  display: block;
  position: absolute;
  width: 24.5rem;
  /*height: 7.8rem;*/
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: #FEF587;
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-9.2rem) translateX(-4.5rem);
  z-index: -2;
  transition: transform .5s ease;
}

.golden-right-active {
  background: url('./assets/button-background.svg');
  border: 1px solid var(--secondary-color);
  color: transparent;
  font-weight: 500;
  float: right;
  transform: translateY(42rem) translateX(-34rem);
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: transform .5s ease;
}

.golden-right-active::before {
  content: "";
  display: block;
  position: absolute;
  width: 24.5rem;
  height: 7.8rem;
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-1.8rem) translateX(-1.25rem);
  z-index: -10;
  overflow: hidden; 
  transition: transform .5s ease;
}

.golden-right-active::after {
  content: "Lets Work!";
  color: var(--main-color);
  text-align: center;
  display: block;
  position: absolute;
  width: 24.5rem;
  /*height: 7.8rem;*/
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-6rem) translateX(-1.2rem);
  z-index: -2;
  transition: transform .5s ease;
}

/* **************************************** */

/* Global Variables */
:root {
  /* Colors */
  --main-color: #ED3A72;
  --main-color-highlight: #EB506C;
  --secondary-color: #FEF587; 
  --secondary-color-highlight: #FFE403; 

  /* Header Font */
  --header-font: "acier-bat-gris", sans-serif;
  --header-size: 9rem;
  --sub-head-size: 6.5rem;
  --plans-size: 15rem;

  /* Text Font */
  --text-font: "modern-love-caps", serif;
  --text-size: 2.3rem;

  /* Nav Bar a */
  --a-size: 3rem;

  /* Button Text Size */
  --button-text: 4.25rem;
}

/* Global Classes */
.logo {
  width: 15rem;
}

.app-wrapper {
  /*max-width: 1920px;*/
  /*overflow: hidden;*/
}

/* Header.js */

.background-hero {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 270%, 3% 0%);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -100;
}

.background-header::after {
  content: "";
  display: block;
  position: absolute;
  background: url(./assets/background_hero.svg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  top: 0;
  left: 0;
}

.header-title {
  text-align: left;
  float: right;
  margin: 2.2% 10% 0 0;
}

.header-title::after {
  content: "";
  display: block;
  position: absolute;
  background: url(./assets/title_background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60vw;
  height: 100vh;
  top: -37.5%;
  right: 10%;
  z-index: -10;
}

.header-logo {
  margin: 2% 0 0 2%;
}

/* Header.js || Header Nav-Bar */

.nav-bar {
  float: right;
  width: 0rem;
  transform: translateY(25rem) translateX(-13rem);
}

.unordered-nav-li {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.unordered-nav-li, li {
  margin: 0 6rem;
}

.nav-list-item {
  font-family: var(--header-font);
  font-size: var(--a-size);
  width: 10rem;
  white-space: nowrap;
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
  text-underline-offset: 0.1em;
}

.nav-list-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

#home {
  
}

#home-active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* Header Content */

.header-content {
  
}

.hero-image-container {

}

.hero-image {
  width: 73rem;
  transform: translateY(-3rem) translateX(4.5rem) rotate(-2deg);
}

.hero-text-container {
  width: 80rem;
}

.chat-bubble1 {
  width: 100%;
  transform: translateY(-44rem) translateX(42rem);
}

.chat-bubble2{
  display: none;
}

.hero-text {
  position: absolute;
  padding: 1rem;
  transform: translateY(-52.5rem) translateX(47rem); 
  font-family: var(--text-font);
  font-size: var(--text-size) !important;
  max-width: 74rem;
}

.HeroBee {
  float: right;
  transform: translateY(-32rem);
  width: 30rem;
}

.hero-arrow {
  float: right;
  transform: translateY(-19rem) translateX(20rem);
  width: 20rem;
}

/* Carousel.js */

.carousel {
  display: flex;
  flex-direction: column;
  width: 2rem;
  align-items: center;
  float: right;
  transform: translateY(10rem) translateX(40rem);
  z-index: 10000;
}

.arrow-up {
  width: 3rem;
  margin: 0 0 0rem 0;
  transform: translateY(1.3rem);
}

.arrow-down {
  width: 3rem;
  margin: 0rem 0 0 0;
  transform: translateY(-2.5rem);
}

.carousel-hex {
  width: 4rem;
  margin: 0 0 0rem 0;
}

.carousel-hex-active {
 
}

.active-path {
  fill: var(--secondary-color);
  width: 10%;
}

.inactive-path {
  fill: var(--main-color);
}

.test-act {
  display: contents;
}

.test-inc {
  display: none;
}

/* AboutMe Carousel index 1 */

.about-me-content {
  content: "";
  max-width: 60%;
  background: url(./assets/aboutmebubble.svg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(4rem) translateX(24rem);
  z-index: 10000;
}

.about-me-content-text {
  transform: translateY(16rem) translateX(18rem);
  width: 50rem;
}

.about-me-title {
  float: right;
  transform: translateY(-50rem) translateX(11.5rem) rotate(-90deg);
  color: var(--main-color) !important;
}

/* AboutMe.js */

/*.about-me-hex-left {
  position: absolute;
  height: 120rem;
  z-index: -1000;
  left: 0;
  transform: translateY(-85rem);
}

.about-me-hex-right {
  position: absolute;
  width: 134rem;
  z-index: -1000;
  right: 0;
}*/

.about-me-hex-left {
  content: '';
  background: url(./assets/AboutMeLeft.svg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-me-hex-left-right {
  content: '';
  position: absolute;
  right: -18rem;
  background: url(./assets/AboutToPlans.svg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.75) translateY(-28rem);
}

.aboutcapressa {
  transform: translateY(-17rem) translateX(78rem);
}

/* The Plans */

#plans-section {
  
}

.plans-title {
  position: absolute;
  right: 5rem;
  transform: translateY(38rem);
  font-size: var(--plans-size);
}

.plans-bee {
  position: absolute;
  right: 79rem;
  transform: translateY(49rem);
}

.plans-arrow {
  transform: scaleX(-1) rotate(90deg) translateY(10rem) translateX(29rem);
}

.plans-background {
  position: absolute;
  width: 134rem;
  z-index: -1000;
  transform: translateY(80rem);
}

.plans-container {
  transform: translateY(40rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10rem 8rem;
  gap: 5rem
}

.plans-container-child {
  background-color: #fff;
  border: .5rem solid var(--main-color);
  margin: 0 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.bee-icon{
  width: 10rem;
}

 .bee-background {
  content: "";
  width: 14rem;
  height: 14rem;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
 }

 .plans-bump {
  transform: translateY(-27rem);
 }

 .plans-text {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 4rem;
  transform: translateY(-1rem);
 }

 .plans-button {
  font-family: var(--text-font);
  font-size: 1.8rem;
  color: var(--main-color);
  text-decoration: underline;
  position: absolute;
  transform: translateY(23rem) translateX(10rem);
  cursor: pointer;
 }

 .plans-button::before {
  content: "";
  background: url(./assets/plans-button-arrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  transform: translateY(1rem) translateX(13rem);
 }

 .plans-hero-bee {
  position: absolute;
  right: 0;
  transform: translateY(40rem);
  overflow: hidden;
 }

 /* Contact */

 #contact {
  display: flex;
  justify-content: center;
 }

 .contact-background {
  position: absolute;
  width: 100vw;
  transform: translateY(60rem);
  z-index: -1000;
 }

 .contact-card {
  content: '';
  width: 86rem;
  height: 95rem;
  background-color: #fff;
  border: 0.5rem solid var(--main-color);
  display: flex;
  justify-content: center;
  transform: translateY(99rem);
 }

 /* Footer */

 #footer {
  transform: translateY(170rem);
 }

 .footer-background {
  width: 100vw;
 }

 .footer-logo {
  position: absolute;
  width: 18rem;
  transform: translateY(9rem) translateX(18rem);
 }

 .footer-grid {
  display: flex;
  right: 0;
  transform: translateY(8rem);
  gap: 3rem;
  position: absolute;
  margin: 0 7rem;
 }

 .footer-grid-element {
  transform: translateY(10rem);
  
 }

 .footer-card {
  content: "";
  background-color: #fff;
  border: 0.5rem solid var(--main-color);
  width: 45rem;
  height: 47rem;
 }

 /**********************************************************/
 /* Media Queries */

 /* mobile */
 @media (max-width: 500px){

  .app-wrapper{
    
  }

  /* mobile root */
  :root {

  /* Header Font */
  --header-font: "acier-bat-gris", sans-serif;
  --header-size: 5rem;
  --sub-head-size: 6.5rem;
  --plans-size: 15rem;

  /* Text Font */
  --text-font: "modern-love-caps", serif;
  --text-size: 2rem;

  /* Nav Bar a */
  --a-size: 3rem;

  /* Button Text Size */
  --button-text: 4.25rem;
}

/* Global Classes */
.logo {
  width: 10rem;
}
  
  /* Header.js */
  .header-title::after {
    display: none;
  }

  .background-hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 270%, -8% 0%) !important;
  }

.header-title {
    text-align: center;
    margin: 12rem 0 0 0rem;
  }

  .header-logo {
  margin: 2% 0 0 %;
  position: absolute;
}

/* Header Content */

.chat-bubble1 {
  display: none;
}

.chat-bubble2 {
  display: block;
  transform: translateY(-36rem) translateX(6rem);
}

.hero-text {
  max-width: 26rem;
  transform: translateY(-58rem) translateX(10rem) !important;
}

.hero-text-container {
  width: inherit
}

.hero-image {
    width: 37rem;
    transform: translateY(20rem) translateX(1rem) rotate(-2deg);
  }

  .HeroBee {
    width: 16rem;
    transform: translateY(-24rem) translateX(0rem);
    overflow: hidden;
  }

  .hero-arrow {
    transform: translateY(-4rem) translateX(14rem);
  width: 16rem;
  }

  /* golden right button */

  .golden-right {
    transform: translateY(32rem) translateX(-1rem);
    width: 16rem;
    height: 5rem;
  }

  .golden-right::before {
    width: 16rem;
    height: 5rem;
    transform: translateY(-3rem) translateX(-3rem);
  }

  .golden-right::after { 
    font-size: 3rem;
    white-space: nowrap; 
    width: 16rem;
    transform: translateY(-13.2rem) translateX(-5rem);
    padding: 1rem .4rem 1rem .4rem;
  }

  .golden-right-active {
    transform: translateY(32rem) translateX(-1rem);
    width: 16rem;
    height: 5rem;
  }

  .golden-right-active::before {
    width: 16rem;
    height: 5rem;
    transform: translateY(-1.6rem) translateX(-1rem);
  }

  .golden-right-active::after {
    font-size: 3rem;
    white-space: nowrap; 
    width: 16rem;
    transform: translateY(-10.8rem) translateX(-1.5rem);
    padding: 1rem .4rem 1rem .4rem;
  }

  /* Header.js || Header Nav-Bar */

  .nav-bar {
    display: none;
  }

  /* AboutMe.js */

  .carousel {
   position: absolute;
   transform: translateY(-8rem) translateX(10rem) rotate(90deg);
   z-index: 10000;
  }

  .carousel-hex {
    transform: rotate(90deg);
    margin: 0.5rem 0 0.5rem 0;
  }

  .about-me-content {
    background: none;
  }

  .about-me-hex-left {
    background: none;
  }

  .about-me-content {
    transform: translateY(0rem) translateX(0rem);
  }

  .about-me-content-text {
  transform: translateY(0rem) translateX(0rem);
  overflow: hidden;
  width: 94vw;
  margin: 1rem 1rem 20rem 1rem;
  }

  .about-me-title {
  transform: translateY(-76rem) translateX(0rem) rotate(0deg);
  width: 20rem;
  float: left;
  margin: 0 0 0 1rem;
  }

  .about-me-hex-left-right {
    right: 0rem;
    width: 100vw;
    height: 100vh;
    background: url(./assets/AboutToPlansMobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1) translateY(18rem);
  }

  .aboutcapressa {
  transform: translateY(-14rem) translateX(20rem);
  width: 20rem;
}

  /* The Plans */

  #plans-section {
    display: none;
  }

  .plans-title {

  }

  /* Contact */

 #contact {
  display: none;
 }

 /* Footer */

 #footer {
  display: none;
 }

}