/* Globals */
* {
  margin: 0;
  padding: 0;
  font-size: 10px
}

h1 {
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--header-size);
}

p {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  font-family: var(--header-font);
  font-size: var(--button-text);
  padding: 1.6rem 1rem;
  background: none;
  border: none;
}

/* move to global variables for the buttons */
.golden-right {
  background: url('./assets/button-background.svg');
  border: 1px solid var(--secondary-color);
  color: transparent;
  font-weight: 500;
  float: right;
  transform: translateY(46rem) translateX(-28rem);
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: transform .5s ease;
}

.golden-right::before {
  content: "";
  display: block;
  position: absolute;
  width: 24.5rem;
  height: 7.8rem;
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-3.5rem) translateX(-3rem);
  z-index: -10;
  overflow: hidden; 
  transition: transform .5s ease;
}

.golden-right::after {
  content: "Lets Work!";
  color: var(--main-color);
  text-align: center;
  display: block;
  position: absolute;
  width: 24.5rem;
  /*height: 7.8rem;*/
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: #FEF587;
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-9.2rem) translateX(-4.5rem);
  z-index: -2;
  transition: transform .5s ease;
}

.golden-right-active {
  background: url('./assets/button-background.svg');
  border: 1px solid var(--secondary-color);
  color: transparent;
  font-weight: 500;
  float: right;
  transform: translateY(46rem) translateX(-28rem);
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: transform .5s ease;
}

.golden-right-active::before {
  content: "";
  display: block;
  position: absolute;
  width: 24.5rem;
  height: 7.8rem;
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-1.8rem) translateX(-1.25rem);
  z-index: -10;
  overflow: hidden; 
  transition: transform .5s ease;
}

.golden-right-active::after {
  content: "Lets Work!";
  color: var(--main-color);
  text-align: center;
  display: block;
  position: absolute;
  width: 24.5rem;
  /*height: 7.8rem;*/
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  transform: translateY(-6rem) translateX(-1.2rem);
  z-index: -2;
  transition: transform .5s ease;
}

/* **************************************** */

/* Global Variables */
:root {
  /* Colors */
  --main-color: #ED3A72;
  --main-color-highlight: #EB506C;
  --secondary-color: #FEF587; 
  --secondary-color-highlight: #FFE403; 

  /* Header Font */
  --header-font: "acier-bat-gris", sans-serif;
  --header-size: 9rem;
  --sub-head-size: 6.5rem;

  /* Text Font */
  --text-font: "modern-love-caps", serif;
  --text-size: 2.3rem;

  /* Nav Bar a */
  --a-size: 3rem;

  /* Button Text Size */
  --button-text: 4.25rem;
}

/* Global Classes */
.logo {
  width: 15rem;
}

.app-wrapper {
  max-width: 1920px;
  overflow: hidden;
}

/* Header.js */

.background-hero {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 270%, 3% 0%);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -100;
}

.background-header::after {
  content: "";
  display: block;
  position: absolute;
  background: url(./assets/background_hero.svg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  top: 0;
  left: 0;
}

.header-title {
  text-align: left;
  float: right;
  margin: 2.2% 10% 0 0;
}

.header-title::after {
  content: "";
  display: block;
  position: absolute;
  background: url(./assets/title_background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60vw;
  height: 100vh;
  top: -37.5%;
  right: 10%;
  z-index: -10;
}

.header-logo {
  margin: 2% 0 0 2%;
}

/* Header.js || Header Nav-Bar */

.nav-bar {
  float: right;
  width: 0rem;
  transform: translateY(25rem) translateX(-13rem);
}

.unordered-nav-li {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.unordered-nav-li, li {
  margin: 0 6rem;
}

.nav-list-item {
  font-family: var(--header-font);
  font-size: var(--a-size);
  width: 10rem;
  white-space: nowrap;
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
  text-underline-offset: 0.1em;
}

.nav-list-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

#home {
  
}

#home-active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* Header Content */

.header-content {
  
}

.hero-image-container {

}

.hero-image {
  width: 73rem;
  transform: translateY(-3rem) translateX(4.5rem) rotate(-2deg);
}

.hero-text-container {
  width: 80rem;
}

.chat-bubble1 {
  width: 100%;
  transform: translateY(-44rem) translateX(42rem);
}

.hero-text {
  position: relative;
  padding: 1rem;
  transform: translateY(-52.5rem) translateX(47rem); 
}


